// Color
$primary-color: #0762fe;
$bg-menu-color: #0091ff;
$bg-menu-icon-active-color: #006edc;
$bg-menu-icon-hover-color: #157be1;
$bg-sidebar-color: #fff;
$bg-message-container-color: #e9e9e9;
$bg-message-self-color: #e5effe;
$bg-message-other-color: #fff;
$bg-tooltip-color: #3e404c;
$bg-notice-color: #c31918;
$bg-sidebar-active-color: #e5effe;
$bg-hover-default-color: #f3f5f6;
$text-main-color: #081c36;
$text-sub-color: #7589a3;
$text-tooltip-color: #fff;
$icon-color: #fff;
$border-img-color: #fff;
$border-button-color: #0068ff;
$border-default-color: #d6dbe1;
$plh-color: #7589a3;
$scroll-bar-color: #bac4d1;
$box-shadow-color: rgba(0, 0, 0, 0.5);
$text-shadow-color: rgba(0, 0, 0, 0.2);
$primary-color: rgb(36, 121, 109);
$background-color: #e2e8f0;
$text-color: white;
$error-color: red;
$eye-icon-color: rgb(155, 158, 159);

// Size
$font-size-default: 14px;
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-title: 24px;
$font-weight-default: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-light: 300;
$box-shadow-size: 0 0 8px 4px;
$text-shadow-size: 2px 2px 2px 1px;

// Background-color
$bg-menu-color: #0091ff;
$bg-menu-icon-active-color: #006edc;
$bg-menu-icon-hover-color: #157be1;
$bg-sidebar-color: #fff;
$bg-message-container-color: #f3f3f3;
$bg-message-self-color: #e5effe;
$bg-message-other-color: #fafafa;
$bg-tooltip-color: #3e404c;
$bg-notice-color: #c31918;
$bg-notice-active-color: #cfe4fa;
$bg-notice-background-color: #f5f5f5;
$bg-sidebar-active-color: #e5effe;
$bg-hover-default-color: #f3f5f6;

// Text-color
$text-main-color: #081c36;
$text-sub-color: #7589a3;
$text-tooltip-color: #fff;

// Icon-color
$icon-color: #fff;

// Border-color
$border-img-color: #fff;
$border-button-color: #0068ff;
$border-default-color: #d6dbe1;

// Placeholder-color
$plh-color: #7589a3;

// Scroll-bar color
$scroll-bar-color: #bac4d1;

// Box-shadow-color
$box-shadow-color: rgba(0, 0, 0, 0.5);

// Text-shadow-color
$text-shadow-color: rgba(0, 0, 0, 0.2);

// Border-color--option
$border-right: 0.5px solid rgb(187, 187, 187);

$background-color: #e2e8f0;
$text-color: white;
$error-color: red;
$eye-icon-color: rgb(155, 158, 159);

// Size--------------------------------------------
// Font-size
$font-size-default: 14px;
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-title: 24px;
// Font-Weight
$font-weight-default: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-light: 300;
// Box-shadow-size
$box-shadow-size: 0 0 8px 4px;
// Text-shadow-size
$text-shadow-size: 2px 2px 2px 1px;
