
  
  .form-group {
    margin: 10px 60px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-field {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .errorMessage{
    color: red;
    margin: 0;
  }